<!DOCTYPE html>
<html>
<head>
  <title>My99Cats</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %> -->
  <%= csrf_meta_tags %>
</head>
<body>

<h3>
  <% if current_user  %>
    Logged in as <%= current_user.username %>
  <% end %>
</h3>

<%= flash[:errors] %>

<%= yield %>

<% if current_user %>
  <form action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
  </form>
<% else %>
  <% unless params[:controller] == "sessions" && params[:action] == 'new' %>
    <form action="<%= new_session_url %>" method="get">
      <button>Login</button>
    </form>
  <% end %>

  <% unless params[:controller] == "users" && params[:action] == 'new' %>
    <form action=" <%= new_user_url %> " method="get">
      <button>Sign Up</button>
    </form>
  <% end %>

<% end %>

</body>
</html>
